body {
 background: lightyellow;
 color: #000;
 font-family: "Verdana, sans-serif";
/*font-weight: bold; */
}

h1, h2, h3 {
 font-family: "Smooch+Sans";   
 color: #000;
 font-style:normal;
/*font-size:30px; */
}

legend, fieldset {
color: #000;
}

p {
 color: #000;    
}

li {
  color: #000;
}
.wrapper {

  display: flex;

}

.wrapper div {

  flex: 1;

}

